/* --------- 768px ---------------  */
@media screen and (min-width: 768px) {
  .main-container {
    padding: 0px;
    align-items: center;
  }
  /* FAQ */
  .faq-container {
    height: 500px;
    width: 85%;
    max-width: 920px;
  }
  /* FAQ - Illustration */
  .faq-illustration-container {
    width: 50%;
  }
  .woman-illustration-mobile-container {
    display: none;
  }
  .woman-illustration-desktop-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .woman-illustration__main-illustration-desktop {
    width: 100%;
    display: block;
    position: absolute;
    left: -50px;
  }
  .woman-illustration__bg-pattern-desktop {
    width: 125%;
    position: absolute;
    left: -150px;
    top: 10%;
  }
  .faq-illustration__box-illustration {
    animation: floating 2s 1s alternate infinite;
    display: block;
    position: absolute;
    left: -25%;
    top: 32%;
  }
  @keyframes floating {
    from {
      transform: translateY(-15%);
    }
  }
  /* FAQ - Content */
  .faq-content {
    width: 50%;
    margin: auto;
    padding-right: 50px;
  }
  .faq-content__title {
    text-align: left;
  }
  /*  Attribution footer */
  .attribution {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
/* ----------- 1024px ---------------- */
@media screen and (min-width: 1024px) {
  /* FAQ - Illustration */
  .woman-illustration__bg-pattern-desktop {
    width: 130%;
    left: -185px;
    top: 0%;
  }
  .faq-illustration__box-illustration {
    left: -22%;
    top: 38%;
  }
  /* FAQ - Content */
  .faq-content {
    padding-right: 100px;
  }
}