/* Base styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  font-family: "Kumbh Sans", sans-serif;

  /* Body background */
  --bg-gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  /* Item text colors */
  --item-title-color: hsl(237, 12%, 33%);
  --item-title-color-hover: hsl(14, 88%, 65%);
  --item-title-color-active: hsl(238, 29%, 16%);
  --item-description-color: hsl(240, 6%, 50%);

  /* Item divider */
  --divider-bg-color: hsl(240, 5%, 91%);
}
.main-container {
  background-image: var(--bg-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px 10px;
  width: 100%;
  min-height: 100vh;
}
/* FAQ */
.faq-container {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 375px;
}
/* FAQ - Illustration */
.faq-illustration-container {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.woman-illustration-mobile-container {
  /* border: 1px solid mediumseagreen; */
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  transition: all 0.5s;
  animation: beat 1s 1s alternate infinite;
}
@keyframes beat {
  from {
    transform: scale(1.01);
  }
  to {
    transform: scale(0.95);
  }
}
.woman-illustration__main-illustration-mobile {
  transform: translate(-5%, -55%);
  width: 90%;
  max-width: 300px;
}
.woman-illustration__bg-pattern-mobile {
  position: absolute;
  width: 80%;
  max-width: 270px;
}
.woman-illustration-desktop-container {
  display: none;
}
.woman-illustration__main-illustration-desktop {
  display: none;
}
.faq-illustration__box-illustration {
  display: none;
}
/* FAQ - Content */
.faq-content {
  /* border: 1px solid magenta; */
  margin: 150px 0px 50px;
  width: 85%;
}
.faq-content__title {
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
/* FAQ - Content - Accordion */
.accordion-container {
  border: 1px solid blue;
}
.accordion-list__item {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.accordion-list__item-title-container {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  width: 100%;
}
.accordion-list__item-title-container::after {
  content: "";
  background-color: var(--divider-bg-color);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.accordion-list__item-title {
  color: var(--item-title-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  padding-right: 10px;
  transition: all 0.5s;
}
.accordion-list__item-title-container:hover > .accordion-list__item-title {
  color: var(--item-title-color-hover);
}
.accordion-list__item-title--active {
  font-weight: 700;
  color: var(--item-title-color-active);
}
.accordion-list__item-description {
  color: var(--item-description-color);
  line-height: 0;
  transform: translateY(-30px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.accordion-list__item-description--visible {
  line-height: 20px;
  margin-bottom: 10px;
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.accordion-list__arrow-icon {
  transition: transform 0.5s;
}
.accordion-list__arrow-icon--rotate {
  transform: rotate(0.5turn);
}
/* Attribution footer*/
.attribution {
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.attribution a {
  color: #fff;
  /* text-decoration: none; */
  transition: color 0.5s;
}
.attribution a:hover {
  color: orange;
}
